<nav class="navbar navbar-light  ">

  <div class="collapse navbar-collapse text-center" id="navbarSupportedContent"
    style="text-align:center;display:block;">
    <div class="row col-md-12 text-center" style="margin-top:1em;">
      <div class="col-md-4"></div>
      <div class="col-md-1">
        <a class="nav-link" href="#">About</a>
      </div>
      <div class="col-md-1">
        <a class="nav-link" href="#">Skills</a>
      </div>

      <div class="col-md-1">
        <a class="nav-link" href="#">Experience</a>
      </div>
      <div class="col-md-1">
        <a class="nav-link" href="#">Contact</a>
      </div>
      <div class="col-md-4"></div>

    </div>

  </div>
</nav>

<div class="container">
  <div class="row col-md-12 " style="margin-top:50px">
    <div class="col-md-6" style="margin-top:auto;margin-bottom:auto;">
      <div class="row col-md-12">
        <div class="col-md-12">
          <h5 style="color:brown">Hi!</h5>
        </div>
        <div class="col-md-12">
          <h1>I'm Diego Torres</h1>
        </div>
        <div class="col-md-12">
          <p style="text-justify: auto;">On this website I will talk about my skills, studies, experience, hobbies and
            something else :)</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <img src="http://www.fillster.com/images/pictures/8i.jpg" alt="">
    </div>

  </div>
</div>

<div class="col-md-12" style="margin-top:50px;background-color: #fdf9c4;">
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="margin-top:2em;">
        <h1>About me</h1>
      </div>
      <div class="col-md-6" style="margin-top:auto;margin-bottom: auto; ">
        <p style="font-size:20px; ">I am a full stack developer with more than 2 years of experience, passionate about
          new technologies, good practices and continuous learning. I have solid knowledge in Java, spring boot, SQL and
          NoSql databases, html, css, Angular, Javascript as well as knowledge in AWS and Azure Devops.</p>
      </div>
      <div class="col-md-6">
        <img src="../assets/img/Developper2.svg" alt="" class="col-md-6" style="width:80%;">
      </div>
    </div>

  </div>

  <div class="col-md-12" style="margin-top:50px;background-color: blueviolet;">
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="margin-top:2em;">
          <h1>Skills</h1>
        </div>
        <div class="col-md-12" style="margin-top:2em;">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia architecto labore atque magni quia
            voluptatibus ipsum voluptatum nemo soluta. Iure quos earum aliquid, quas ab officiis totam esse nam nulla.
          </p>
        </div>
      </div>

    </div>

    <div class="col-md-12" style="margin-top:50px;background-color: coral;">
      <div class="container">
        <div class="row">
          <div class="col-md-12" style="margin-top:2em;">
            <h1>Experience</h1>
          </div>
          <div class="col-md-12" style="margin-top:2em;">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia architecto labore atque magni quia
              voluptatibus ipsum voluptatum nemo soluta. Iure quos earum aliquid, quas ab officiis totam esse nam nulla.
            </p>
          </div>
        </div>

      </div>

      <div class="col-md-12" style="margin-top:50px;background-color: bisque;">
        <div class="container">
          <div class="row">
            <div class="col-md-12" style="margin-top:2em;">
              <h1>Contact</h1>
            </div>
            <div class="col-md-12" style="margin-top:2em;">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia architecto labore atque magni quia
                voluptatibus ipsum voluptatum nemo soluta. Iure quos earum aliquid, quas ab officiis totam esse nam
                nulla.</p>
            </div>
          </div>

        </div>

        <footer>
          <div class="text-center" style="background-color: black;">
            <p style="margin-bottom:0;padding-bottom:1em;padding-top:1em; color:white;">&copy; 2022. Diego Torres</p>
          </div>
        </footer>




      </div>